.canvas {
  background-image: "maps/map.jpg"
}
.playerInfo {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 15px;
}
.hidden {
  pointer-events: none;
  opacity: 0;
}
.removeInput {
  width: 80px;
}
.container {
  margin-left: 0px;
  padding-left: 7px;
}
#app {
  width: 900px;
}